<h1>Add A New Movie</h1>

<form action="http://localhost:3000/create_movie" id="mvie">
  <div>
    <label for="movie_title">Title:</label>
    <input id="movie_title" type="text" name="movie_title">
  </div>
  <div>
    <label for="movie_image_url">Image URL:</label>
    <input id="movie_image_url" type="text" name="movie_picture">
  </div>
  <div>
    <label for="movie_year">Year:</label>
    <input id="movie_year" type="number" name="movie_year">
  </div>
  <div>
    <label for="movie_duration">Duration(minutes):</label>
    <input id="movie_bio" type="number" name="movie_duration">
  </div>
    <div>
    <label for="movie_description">Description:</label>
    <textarea name="movie_description" cols="10" rows="5" form="mvie" ></textarea>
  </div>
  <div>
    <button>Create Movie</button>
  </div>
</form>


